<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 class="text-center">Score board</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Navn</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% if name1 and score1 %}
      <tr>
          <td>{{name1}}</td>
          <td>{{score1}}</td>
      </tr>
      {% endif %}
      {% if name2 and score2 %}
      <tr>
          <td>{{name2}}</td>
          <td>{{score2}}</td>
      </tr>
      {% endif %}
      {% if name3 and score3 %}
      <tr>
          <td>{{name3}}</td>
          <td>{{score3}}</td>
      </tr>
      {% endif %}
      {% if name4 and score4 %}
      <tr>
          <td>{{name4}}</td>
          <td>{{score4}}</td>
      </tr>
      {% endif %}
      {% if name5 and score5 %}
      <tr>
          <td>{{name5}}</td>
          <td>{{score5}}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
